.body{
    display: grid;    
    grid-template-columns: 45vw 45vw;
    grid-template-rows: 45vh 45vh;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

.a{
    height: 100%;
    width: 100%;
}

.card{
    display: grid;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
}

.card-body{
    display: grid;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;

}
.card:hover{
  background-color: #4CAF50; /* Green */
  color: white;
  cursor: pointer;
}


.btn-black{
    background-color: #43425D !important;
    color: #fff;
    padding: 0.375rem 1.75rem !important;
}

.btn-red{
    background-color: red !important;
    color: #fff;
    padding: 0.375rem 1.75rem !important;
}

.form{
    display: grid;
    justify-content: center;
    padding: 50px;
}

.corpo{    
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    width: 400px;
    padding: 10px;
    border: solid 1px;
    border-radius: 10px;
    row-gap: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}   