.body{
    display: grid;    
    grid-template-columns: 45vw 45vw;
    grid-template-rows: .3fr .3fr;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

.a{
    height: 100%;
    width: 100%;
}

.card{
    display: grid;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
}
.card:hover{
  background-color: #4CAF50; /* Green */
  color: white;
  cursor: pointer;
}
