.body{
    display: grid;    
    grid-template-columns: 45vw 45vw;
    grid-template-rows: 45vh 45vh;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

.a{
    height: 100%;
    width: 100%;
}

.card{
    display: grid;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
}

.card-body{
    display: grid;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;

}
.card:hover{
  background-color:  #43425D;
  color: white;
  cursor: pointer;
}
